﻿@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Index";
}

<h1>List of Roles</h1>
<a asp-action="Create">Create</a>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>Name</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model.OrderBy(n => n.Name))
        {
            <tr>
                <td>@role.Name</td>
            </tr>

        }
    </tbody>
</table>  
<hr />
<p>
    <a asp-action="CreateAdmin">Create Administrator profile</a>
</p>