﻿@using static TreatmentManagementSystem.Core.Helpers.NavigationIndicatorHelper;
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="~/Home" class="brand-link">
        @*<img src="~/img/AdminLTELogo.png" alt="TMS Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">*@
        <span class="brand-text font-weight-bold">Treatment Management</span>
    </a>
    <div class="sidebar">
@if (User.Identity.IsAuthenticated)
{
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a asp-area="Identity" asp-page="/Account/Manage/Index"class="d-block">Hi, @User.Identity.Name </a>
            </div>
        </div>
}
else
{
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
            <a href="#" class="d-block">Hi, Visitor</a>
        </div>
    </div>
}
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item ">
                    <a asp-controller="Home" asp-action="Index" class="nav-link ">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Home
                        </p>
                    </a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item ">
                        <a asp-controller="Home" asp-action="Profile" class="nav-link ">
                            <i class="nav-icon fas fa-user"></i>
                            <p>
                                Profile
                            </p>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</aside>