﻿@model TreatmentManagementSystem.ViewModels.ContentViewModel

@{
    Layout = "~/Views/Shared/TMS/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Administrator</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Doctor Profile</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                @if (!string.IsNullOrWhiteSpace(Model.Name))
                {
                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle" src="~/img/user4-128x128.jpg" alt="User profile picture">
                            </div>
                            <h3 class="profile-username text-center">@Model.Name</h3>
                            @if (!string.IsNullOrWhiteSpace(Model.Name))
                            {
                                <p class="text-muted text-center">@Model.Email</p>
                            }
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                }
                else
                {
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <h4 class="text-danger">There are no registered Administrator profile</h4>
                        </div>
                        <!-- /.card-body -->
                    </div>
                }
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#activity">Doctors</a></li>
                            <li class="nav-item"><a asp-action="CreateDoctor" class="nav-link">Create a Doctor profile</a></li>                            
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="activity">
                                @if (Model.Doctors != null && Model.Doctors.Count() > 0)
                                {
                                    @foreach (var item in Model.Doctors)
                                    {
                                        <!-- Post -->
                                        <div class="post">
                                            <div class="user-block">
                                                <img class="img-circle img-bordered-sm" src="~/img/user1-128x128.jpg" alt="user image">
                                                <span class="username">
                                                    <a asp-action="Details" asp-route-id="@item.Id">@item.Name</a>                                                    
                                                    <form asp-action="Delete" asp-route-Id="@item.Id">
                                                        <a href="#" class="float-right btn-tool">
                                                            <input type="submit" onclick="return confirm('Are you sure you want to delete?')" value="Delete" />
                                                        </a>
                                                    </form>
                                                </span>
                                                @if (!string.IsNullOrWhiteSpace(item.Email))
                                                {
                                                    <span class="description">@item.Email</span>
                                                }
                                            </div>
                                            <!-- /.user-block -->                                          
                                        </div>
                                        <!-- /.post -->
                                    }
                                }
                            </div>

                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>