﻿@model TreatmentManagementSystem.ViewModels.ContentViewModel

@{
    Layout = "~/Views/Shared/TMS/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Doctor</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Create Patient</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <!-- Profile Image -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">About Me</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <strong><i class="fas fa-book mr-1"></i> Education</strong>

                        <p class="text-muted">
                            B.S. in Computer Science from the University of Tennessee at Knoxville
                        </p>

                        <hr>

                        <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

                        <p class="text-muted">Malibu, California</p>

                        <hr>

                        <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

                        <p class="text-muted">
                            <span class="tag tag-danger">UI Design</span>
                            <span class="tag tag-success">Coding</span>
                            <span class="tag tag-info">Javascript</span>
                            <span class="tag tag-warning">C#</span>
                            <span class="tag tag-primary">Node.js</span>
                        </p>

                        <hr>

                        <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a asp-action="Index" class="nav-link active">Patients</a></li>
                            <li class="nav-item"><a asp-action="CreatePatient" class="nav-link">Create a Patient profile</a></li>
                            <li class="nav-item"><a asp-action="MessageBoard" class="nav-link ">Message Board</a></li>
                            <li class="nav-item"><a asp-action="Inbox" class="nav-link">Inbox</a></li>
                            <li class="nav-item"><a asp-action="CreateMessage" class="nav-link btn-default">Compose Message</a></li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="settings">
                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                                    @if (!string.IsNullOrWhiteSpace(Model.Name))
                                    {
                                        <div class="col-sm-10">
                                            <p>@Model.Name</p>
                                        </div>
                                    }
                                </div>
                                <div class="form-group row">
                                    <label for="inputExperience" class="col-sm-2 col-form-label">Email</label>
                                    @if (!string.IsNullOrWhiteSpace(Model.Email))
                                    {
                                        <div class="col-sm-10">
                                            <p>@Model.Email</p>
                                        </div>
                                    }
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-form-label">Notes</label>
                                    @if (!string.IsNullOrWhiteSpace(Model.Notes))
                                    {
                                        <div class="col-sm-10">
                                            <p>@Model.Notes</p>
                                        </div>
                                    }
                                </div>
                                <div>
                                    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                                    <a asp-action="Index">Back to List</a>
                                </div>
                            </div>

                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
