﻿@model TreatmentManagementSystem.ViewModels.MessageViewModel

@{
    Layout = "~/Views/Shared/TMS/_Layout.cshtml";
    var patients = Model.Patients;
    var items = Model.Messages != null ? Model.Messages.OrderByDescending(d => d.TimeStamp) : null;
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Doctor</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Message Board</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <!-- Profile Image -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">About Me</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <strong><i class="fas fa-book mr-1"></i> Education</strong>

                        <p class="text-muted">
                            B.S. in Computer Science from the University of Tennessee at Knoxville
                        </p>

                        <hr>

                        <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

                        <p class="text-muted">Malibu, California</p>

                        <hr>

                        <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

                        <p class="text-muted">
                            <span class="tag tag-danger">UI Design</span>
                            <span class="tag tag-success">Coding</span>
                            <span class="tag tag-info">Javascript</span>
                            <span class="tag tag-warning">PHP</span>
                            <span class="tag tag-primary">Node.js</span>
                        </p>

                        <hr>

                        <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a asp-action="Index" class="nav-link">Patients</a></li>
                            <li class="nav-item"><a asp-action="CreatePatient" class="nav-link">Create a Patient profile</a></li>
                            <li class="nav-item"><a asp-action="MessageBoard" class="nav-link active">Message Board</a></li>
                            <li class="nav-item"><a asp-action="Inbox" class="nav-link">Inbox</a></li>
                            <li class="nav-item"><a asp-action="CreateMessage" class="nav-link btn-">Compose Message</a></li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        @if (items != null && items.Count() > 0)
                        {
                            <div class="tab-content">
                                <!-- /.tab-pane -->
                                <div class="tab-pane active" id="timeline">
                                    <!-- The timeline -->
                                    <div class="timeline timeline-inverse">
                                        @foreach (var item in items)
                                        {
                                            if (!item.IsRead)
                                            {
                                                var sender = item.SenderID != Guid.Empty ? patients.Where(p => p.Id == item.SenderID).FirstOrDefault() : null;
                                                var senderName = sender != null ? sender.Name : string.Empty;

                                                <!-- timeline item -->
                                                <div>
                                                    @if (!item.IsRead)
                                                    {
                                                        <i class="fas fa-envelope bg-primary"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fas fa-user bg-info"></i>
                                                    }
                                                    <div class="timeline-item">
                                                        @if (item.TimeStamp != null)
                                                        {
                                                            <span class="time"> @item.TimeStamp.ToString("dd MMM yyyy HH:mm")</span>
                                                        }
                                                        @if (!string.IsNullOrWhiteSpace(senderName))
                                                        {
                                                            <h3 class="timeline-header">
                                                                <a href="#">@senderName : </a>
                                                                @if (!string.IsNullOrWhiteSpace(item.Subject))
                                                                {
                                                                    @item.Subject
                                                                }
                                                            </h3>
                                                        }
                                                        @if (!string.IsNullOrWhiteSpace(item.Text))
                                                        {
                                                            <div class="timeline-body">
                                                                @item.Text
                                                            </div>
                                                        }
                                                        <div class="timeline-footer">
                                                            <form asp-action="EditMessage" asp-route-Id="@item.Id">
                                                                <input type="submit" class="btn btn-info btn-sm" value="Read" />
                                                                <a asp-action="Reply" asp-route-id="@item.SenderID" class="btn btn-success btn-sm">Reply</a>
                                                            </form>
                                                        </div>

                                                    </div>
                                                </div>
                                            }
                                        }
                                        <!-- END timeline item -->
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                        }
                        else
                        {
                            <h4 class="text-danger">Your Inbox folder is empty.</h4>
                        }

                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>


@section Scripts{
    <script src="~/js/tableList.js"></script>
}

