﻿@model TreatmentManagementSystem.ViewModels.ContentViewModel

@{
    Layout = "~/Views/Shared/TMS/_Layout.cshtml";
}

@if (!string.IsNullOrWhiteSpace(Model.Name))
{
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Patient</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Patient Profile</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    @if (!string.IsNullOrWhiteSpace(Model.Name))
                    {
                        <!-- Profile Image -->
                        <div class="card card-primary card-outline">
                            <div class="card-body box-profile">
                                <div class="text-center">
                                    <img class="profile-user-img img-fluid img-circle" src="~/img/user4-128x128.jpg" alt="User profile picture">
                                </div>

                                <h3 class="profile-username text-center">@Model.Name</h3>
                                @if (!string.IsNullOrWhiteSpace(Model.Email))
                                {
                                    <p class="text-muted text-center">@Model.Email</p>
                                }
                                @if (Model.MessageCount > 0)
                                {
                                    <ul class="list-group list-group-unbordered mb-3">
                                        <li class="list-group-item">
                                            <b>Unread messages</b> <a class="float-right">@Model.MessageCount</a>
                                        </li>
                                    </ul>
                                }
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    }
                    else
                    {
                        <div class="card card-primary card-outline">
                            <div class="card-body box-profile">
                                <h4 class="text-danger">There are no registered Patient profile</h4>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    }
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <a asp-action="MessageBoard" class="nav-link"> Message Board</a>                                    
                                </li>
                                <li class="nav-item"><a asp-action="Inbox" class="nav-link">Inbox</a></li>
                                <li class="nav-item"><a asp-action="CreateMessage" class="nav-link btn-">Compose Message</a></li>
                            </ul>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                           
                            

                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
}
