﻿@model TreatmentManagementSystem.ViewModels.CreateProfileViewModel

@{
    Layout = "~/Views/Shared/TMS/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Administrator</h4>
<hr />
@if (Model.AppUsers != null && Model.AppUsers.Count() > 0)
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateAdmin" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Name" class="control-label"></label>
                    <input asp-for="Input.Name" class="form-control" />
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Email" class="control-label"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>User</label>
                    <select asp-for="Input.UserId" class="form-control" asp-items='new SelectList(Model.AppUsers, "Id", "Email")'></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}
else
{
    <h4 class="text-danger">There are no registered User "Administrator"</h4>
}



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}