﻿@model TreatmentManagementSystem.ViewModels.ContentViewModel

@{
    Layout = "~/Views/Shared/TMS/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this Admin?</h3>
<div>
    <hr />
    @if (!string.IsNullOrWhiteSpace(Model.Name))
    {
        <dl class="row">
            <dt class="col-sm-2">
                Name
            </dt>
            <dd class="col-sm-10">
                @Model.Name
            </dd>
            @if (!string.IsNullOrWhiteSpace(Model.Name))
            {
                <dt class="col-sm-2">
                    Email
                </dt>
                <dd class="col-sm-10">
                    @Model.Email
                </dd>
            }
        </dl>
    }

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </form>
</div>
