﻿@model TreatmentManagementSystem.ViewModels.ContentViewModel

@{
    Layout = "~/Views/Shared/TMS/_Layout.cshtml";
}
<h1>Developer</h1>

<a asp-action="CreateAdmin">
    <button type="button" class="btn btn-success">Create an Administrator profile</button>
</a>

@if (Model.Admins != null && Model.Admins.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Admins)
            {
                @if (!string.IsNullOrWhiteSpace(item.Name))
                {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                </td>
                @if (!string.IsNullOrWhiteSpace(item.Email))
                {
                    <td>
                        @item.Email
                    </td>
                }
                <td>
                    <form asp-action="Delete" asp-route-Id="@item.Id">
                        <input type="submit" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-secondary" value="Delete" />
                    </form>
                </td>
            </tr>
                }

            }
        </tbody>
    </table>
}

